body{
margin:0;
font-family:Poppins;
background:linear-gradient(to right,#1d4350,#a43931);
color:white;
padding:15px;
}

.dark{background:black;}

.container{max-width:1000px;margin:auto;}

.app{
background:rgba(255,255,255,0.12);
padding:20px;
border-radius:20px;
}

.search{display:flex;gap:10px;flex-wrap:wrap;}

input{
flex:1;
padding:12px;
border:none;
border-radius:10px;
}

button{
padding:12px;
border:none;
border-radius:10px;
cursor:pointer;
}

#search{background:#00b894;color:white;}
#geo{background:#0984e3;color:white;}
#dark{background:#2d3436;color:white;}

#map{
display:none;
height:300px;
margin-top:20px;
border-radius:12px;
}

#weather{margin-top:20px;}

.card{
background:rgba(255,255,255,0.15);
padding:10px;
border-radius:10px;
margin-top:10px;
}
